.banner {
    color: rgb(0, 0, 0);
    padding: 10px ;
    height: 1430px;
    background-color: black;
    background-size: cover;
   /* background-attachment: fixed;  deica a imagem do banner fixa na pagina */
    
}
.header .container {
    width: 80%;
    margin: auto;
    align-items: flex-start; 
}
.logo {
    display: flex;
   height: 140%;

}
.header .container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 32px;
}
.navbar ul {
    background-color: #000000;
}
li {
    color: #ffffff;
}
a {
    color:#ffffff;
    text-decoration: none;
}
.navbar a:focus {           /*:focus é quando a tag <a> for selecionada */
    border-bottom: solid 2px #ffffff solid 3px;
    border-color: rgb(217, 221, 0);
}
.header a {
    
    color: #ffffff solid 3px;
}
.here {
    font-weight: 1000;
    color: #db0000;
    border-bottom:white 2px solid;
}

*{

    margin: 0%;
    font-family: arial, sans-serif;
}

.tittle {

height: 100px;
width: 90%;
margin-top: 5spx;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
margin-left: 5%; 
color: #ffffff;
font-size: 60px;

}
.tittle .cs{
   
    height: 30px;
    width: 50%;
    color: #ffffff;
    font-size: 60px;
    justify-items: center;
    align-self:  center;
    margin-top: 10px;
    margin-left: 33%;
    padding-top: 20px;
    font-stretch: expanded;
    }
.box {
    
    
    border-radius: 5px;
    height: 1115px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
}

.footer {
    color: #ffffff;
    padding-top: 15px;
}
    
.not1 {
    display: flex;
    width: 100%;
    height: 250px;
    
    justify-content: space-between;
}

.not2 {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-between;
}

.not3 {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-between;
}

.not4 {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-between;
}

.not5 {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-between;
}

.not6 {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-between;
}

.product {
    border-radius: 12px;
    width: 32%;
    height: 100%;
    background-image: url(assets/af1.png);
    background-size: cover;
    border:  #ffffff 5px solid;
    display: flex;
}
 



.price {
margin-top: 6px;
margin-left: 6px;
 width: 130px;
 height: 35px;
 background-color: #41150a;;
 color: #ffffff;
 border-radius: 12px;
 border:#ffffff 2px solid;
 display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
}