.banner {
    color: rgb(0, 0, 0);
    padding: 10px;
    height: 540px;
    background-image: url(assets/imeto.png);
    background-size: cover;
}


.navbar {
    justify-content: flex-end;
}

.we {
    background-color: #000000;
    height: 2000px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    color: #ffffff;

}


.header .container {
    width: 80%;
    margin: 100px;
    align-items: flex-start;
    display: flex;
    margin-top: 10%;
}

.logo {
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
}


.navbar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 32px;

}

.navbar ul {
    background-color: #000000;
    justify-content: right;
}

li {
    color: #ffffff;

}

li.here {
    border-bottom: #ffffff 2px solid;
}

a {
    color: #ffffff;
    text-decoration: none;

}

.navbar a:focus {
   
    border-bottom: solid 2px #323232;
    border-color: white;
}

.header a {

    color: white;
}



* {
    margin: 0%;
    font-family: arial, sans-serif;

}


.corpo {
    width: 100%;
    border-radius: 5px;
    height: 1550px;
    margin: 20px;
    margin-top: 0%;
    display: inline;
    justify-content: center;
    padding: 10px;
   

}

.logo {
    padding: 0%;
    margin-top: 18px;
    justify-content: space-between;
    display: flex;
 margin-right: 5%;
 margin-left: 5%;
}


.not1 {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
}

.box-not {
    border-radius: 5px;
    height: 1115px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 20px;
    
}
.product1 {
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background-image: url(assets/TH_Curry-Night-Night.jpg);
    background-size: cover;
    border:  #ffffff 1px solid;
  margin: 30px;
}
.product2 {
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background-image: url(assets/Karim-Benzema-Vs-PSG.jpeg);
    background-size: cover;
    border:  #ffffff 1px solid;
  margin: 30px;
  
}
.product3 {
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background-image: url(assets/lebron-james.jpeg);
    background-size: cover;
    border:  #ffffff 1px solid;
  margin: 30px;
}
.product4 {
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background-image: url(assets/vinijr.jpg);
    background-size: cover;
    border:  #ffffff 1px solid;
  margin: 30px;
}


.product1:hover{
box-shadow:0 8px 20px rgb(75, 72, 72);
-webkit-filter:opacity(40%) ;
 transition: 2s;
}
.product2:hover{
 box-shadow:0 8px 20px rgb(75, 72, 72);
 -webkit-filter:opacity(30%) ;
 transition: 2s;
}
.product3:hover{ 
 box-shadow:0 8px 20px rgb(75, 72, 72);
-webkit-filter:opacity(30%) ;
transition: 2s;
}
.product4:hover{
 box-shadow:0 8px 20px rgb(75, 72, 72);
 -webkit-filter:opacity(30%) ;
transition: 2s;
}
.box-not {
    height: 400px;
    display: inline;
    justify-content: center;
    align-items: center;
}          
                  
                 
.tittle-atleta-ano {
    margin-top: 5%;
    font-size: x-large;
    width: 100%;
    display: flex;
    justify-content: center;

}          

.product1:hover {
    width: 50%;
    height: 93%;
    background-color: #7e0303;
}

.product2:hover {
    width: 50%;
    height: 93%;
    background-color: #7e0303;
}
.product3:hover {
    width: 50%;
    height: 93%;
    background-color: #7e0303;
}
.product4:hover {
    width: 50%;
    height: 93%;
    background-color: #7e0303;
}

.product1-2 {
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background-image: url(assets/nopefilm.jpg);
    background-size: cover;
    border:  #ffffff 1px solid;
  margin: 30px;
}
.product2-2 {
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background-image: url(assets/aqotwjpg.jpg);
    background-size: cover;
    border:  #ffffff 1px solid;
  margin: 30px;
  
}
.product3-2 {
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background-image: url(assets/top-gun-maverick.jpg);
    background-size: cover;
    border:  #ffffff 1px solid;
  margin: 30px;
}
.product4-2 {
    border-radius: 12px;
    width: 230px;
    height: 230px;
    background-image: url(assets/the-batman-2022-movies-dc-comics-red-background-5k-5k-7680x4320-7477.jpg);
    background-size: cover;
    border:  #ffffff 1px solid;
  margin: 30px;
}


.product1-2:hover{top:90px; 
    box-shadow:0 8px 20px rgb(75, 72, 72);
    -webkit-filter:opacity(40%) ;
     transition: 1s;
    
    }
    .product2-2:hover{top:-90px; 
        box-shadow:0 8px 20px rgb(75, 72, 72);
        -webkit-filter:opacity(30%) ;
         transition: 1s;
        }
        .product3-2:hover{top:-567px; 
            box-shadow:0 8px 20px rgb(75, 72, 72);
            -webkit-filter:opacity(30%) ;
             transition: 1s;
            }
            .product4-2:hover{top:-90px; 
                box-shadow:0 8px 20px rgb(75, 72, 72);
                -webkit-filter:opacity(30%) ;
                 transition: 1s;
                }

                
                
                
                .product1-2:hover {
                    width: 50%;
                    height: 93%;
                    background-color: #7e0303;
                }
                
                .product2-2:hover {
                    width: 50%;
                    height: 93%;
                    background-color: #7e0303;
                }
                .product3-2:hover {
                    width: 50%;
                    height: 93%;
                    background-color: #7e0303;
                }
                .product4-2:hover {
                    width: 50%;
                    height: 93%;
                    background-color: #7e0303;
                }
                
.h1-premiacao {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
button{
    background-color: #b31313;
    width: 350px;
    height: 100px;
    border-radius: 20px;
    border-right: #d8a9a9 1px solid;
    border-bottom: #d8a9a9 2px solid;
    color: #ffffff;
    font-size: x-large;
}
.btn{
    margin-top: 8%;
    margin-left: 38%;
}
.btn:hover{
 -webkit-filter:opacity(30%) ;
     transition: 1s;
}
button:active{
    background-color: #ff0000;
 }