/* banner */

.banner {
    color: rgb(0, 0, 0);
    padding: 10px;
    height: 540px;
    background-image: url(assets/imeto.png);
    background-size: cover;
    /* background-attachment: fixed;  deica a imagem do banner fixa na pagina */

}




/* we */

.navbar {
    justify-content: flex-end;
}

.we {
    background-color: #000000;
    height: 1700px;
    width: 100%;

    color: #ffffff;

}


.header .container {
    width: 80%;
    margin: 100px;
    align-items: flex-start;
    display: flex;
    margin-top: 10%;
}

.logo {
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

/* h1 {
    
    color: #ffffff;
    padding: 28px; 
}*/
.navbar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 32px;

}

.navbar ul {
    background-color: #000000;
    justify-content: right;
}

li {
    color: #ffffff;

}

li.here {
    border-bottom: #ffffff 2px solid;
}

a {
    color: #ffffff;
    text-decoration: none;

}

.navbar a:focus {
    /*:focus é quando a tag <a> for selecionada */
    border-bottom: solid 2px #323232;
    border-color: white;
}

.header a {

    color: white;
}



* {
    margin: 0%;
    font-family: arial, sans-serif;

}


.corpo {
    background-color: rgba(80,5,5);
    border-radius: 5px;
    height: 1615px;
    margin: 20px;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;

}

.logo {
    padding: 0%;
    margin-top: 18px;
    justify-content: space-between;
    display: flex;
 margin-right: 5%;
 margin-left: 5%;
}

