.banner {
    color: rgb(0, 0, 0);
    padding: 10px ;
    height: 2000px;
    background: rgb(31, 2, 2);
    background-size: cover;
   /* background-attachment: fixed;  deica a imagem do banner fixa na pagina */
    
}
.header .container {
    width: 80%;
    margin: auto;
    align-items: flex-start; 
}
.logo {
    display: flex;
   height: 140%;

}
.header .container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 32px;
}
.navbar ul {
    background-color: #000000;
}
li {
    color: #ffffff;
}
a {
    color:#ffffff;
    text-decoration: none;
}
.navbar a:focus {           /*:focus é quando a tag <a> for selecionada */
    border-bottom: solid 2px #ffffff solid 3px;
    border-color: rgb(217, 221, 0);
}
.header a {
    
    color: #ffffff solid 3px;
}
.here {
    font-weight: 1000;
    color: #db0000;
    border-bottom:white 2px solid;
}

*{

    margin: 0%;
    font-family: arial, sans-serif;} 

    .footer {
        color: #ffffff;
        padding-top: 15px;
        background-color: rgb(31, 2, 2);;
       padding-bottom: 1%;
       border-top: 1px rgb(0, 0, 0) solid;
    }

    * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
      height: 350px;
        width: 70%;
      position: relative;
      margin-top: 60px;
     
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 39%;
      width: auto;
      padding: 24px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 48px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      margin-bottom: 20px;

    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
     
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.397);
    }
    


    
    .active, .dot:hover {
      background-color: #a37f7f;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    .slideshow-container img{
        border-radius: 4px;
        margin: 0px;
        border: 3px white solid;
        display: flex;
       
    }
    .box {
        width: auto;
      display: flex;
     justify-content: center;
    }
    .tittle1 {
        display: inline;
        height: 68%;
        width: 60%;
        color: #ffffff;
       font-size: xx-large;
       margin-top: 20px;
     }
     .materia{
        color: #ffffff;
        padding: 6%;
        padding-top: 10%;
       
     }
     .plataform {
     
     display: flex;
     justify-content: center;
     align-items: center;
     color: #ffffff;
     font-size: x-large;

     }
     .plataform img{
        height: 280px;
        width: 280px;
        }
